@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Exo+2:400,900");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:600,900");
@media (min-width: 1200px) {
  .container {
    max-width: 1340px;
  }
}
.collapsing, .show {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .collapsing, .show {
    width: 64%;
    justify-content: space-between;
  }
}
@media screen and (max-width: 767px) {
  .collapsing, .show {
    position: absolute;
    bottom: -20px;
    left: 0;
  }
  .collapsing .nav-list, .show .nav-list {
    padding: 0;
  }
  .collapsing .basket, .show .basket {
    margin-left: 20px;
    display: none;
  }
}

#menu {
  position: fixed;
  z-index: 999;
}
@media screen and (min-width: 1200px) {
  #menu {
    width: 100%;
  }
}
#menu i.fas {
  font-size: 36px;
  color: #fff;
  transition: color 0.25s;
}
#menu i.fas:hover {
  color: #6087c2 !important;
}
@media screen and (max-width: 575px) {
  #menu i.fas {
    font-size: 25px;
  }
}

.button-nav {
  background: transparent;
  border: none;
}

.navbar-brand {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 2rem;
  transition: color 0.25s;
}
.navbar-brand:hover {
  color: #6087c2 !important;
}
@media screen and (max-width: 575px) {
  .navbar-brand {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 374px) {
  .navbar-brand {
    font-size: 1.2rem;
  }
}

.collapse:not(.show) {
  display: none;
}

.nav-list {
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 575px) {
  .nav-list {
    flex-direction: column;
    position: absolute;
    left: 1.5375rem;
  }
}
.nav-list .nav-item {
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: bold;
  list-style-type: none;
}
.nav-list .nav-item .nav-link {
  color: #fff;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 0.25s;
}
@media screen and (max-width: 991px) {
  .nav-list .nav-item .nav-link {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 767px) {
  .nav-list .nav-item .nav-link {
    font-size: 1rem;
  }
}
.nav-list .nav-item .nav-link::before, .nav-list .nav-item .nav-link::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.nav-list .nav-item .nav-link::before {
  top: 0;
  left: 0;
}
.nav-list .nav-item .nav-link::after {
  bottom: 0;
  right: 0;
}
.nav-list .nav-item .nav-link:hover {
  color: #6087c2;
}

.basket-in-menu {
  display: none;
}
@media screen and (max-width: 575px) {
  .basket-in-menu {
    position: static;
    display: flex;
  }
}

.custom-block-menu {
  background: #C3CCEA;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.custom-block-menu #menu {
  position: static;
}

#index-title-section {
  position: relative;
}
#index-title-section .sliders-arrows {
  position: absolute;
  display: flex;
  z-index: 999;
  bottom: 25px;
}
#index-title-section .prev-block, #index-title-section .next-block {
  border-color: #000;
}
#index-title-section .slick-prev {
  margin: 0 20px;
}
#index-title-section .slick-prev .prev-block i.fas {
  color: #000;
}
#index-title-section .slick-prev:hover .prev-block {
  border-color: #007bff;
}
#index-title-section .slick-prev:hover i.fas {
  transition: all 0.5s ease;
  color: #007bff;
}
#index-title-section .slick-next {
  margin: 0 20px;
}
#index-title-section .slick-next .next-block i.fas {
  color: #000;
}
#index-title-section .slick-next:hover .next-block {
  border-color: #007bff;
}
#index-title-section .slick-next:hover i.fas {
  transition: all 0.5s ease;
  color: #007bff;
}
@media screen and (max-width: 991px) {
  #index-title-section .btn-custom {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 991px) {
  #index-title-section .title-text {
    text-align: center;
    font-size: 2.6rem;
    margin-top: 50px;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 767px) {
  #index-title-section .title-text {
    line-height: 50px;
    font-size: 2rem;
  }
}
@media screen and (max-width: 1199px) {
  #index-title-section .btn-r {
    justify-content: center;
  }
}

.title-bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-bg-image img {
  height: inherit;
  width: 100%;
}
@media screen and (max-width: 1199px) {
  .title-bg-image img {
    width: auto;
  }
}

.title-text {
  text-align: right;
  font-family: "Montserrat";
  font-weight: bold;
  font-style: normal;
  line-height: 80px;
  font-size: 3rem;
  margin-top: 100px;
  color: #fff;
  text-shadow: 4px 3px 3px #E4DCD7;
  text-transform: uppercase;
  margin-bottom: 80px;
}

.navbar {
  position: absolute;
  top: 0;
  z-index: 999;
}
.navbar .container-fluid {
  justify-content: start;
}
@media screen and (max-width: 575px) {
  .navbar {
    width: 100%;
  }
  .navbar > .container-fluid {
    justify-content: space-between;
  }
}

.btn-custom {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  text-align: center;
  background: #C3CCEA;
  border-color: #C3CCEA;
  text-transform: uppercase;
  padding-top: 22px;
  padding-bottom: 22px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-bottom: 150px;
}
.btn-custom:hover {
  background-color: #C3CCEA;
  border-color: transparent;
  -webkit-box-shadow: 6px 6px 5px 0px #CBEBF8;
  -moz-box-shadow: 6px 6px 5px 0px #CBEBF8;
  box-shadow: 6px 6px 5px 0px #CBEBF8;
  color: #fff;
  transform: translateY(-7px);
}

.slide-item {
  padding-top: 100px;
}

.prev-block, .next-block {
  width: 40px;
  height: 40px;
  display: flex;
  border: 1px solid transparent;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.prev-block i.fas, .next-block i.fas {
  color: #fff;
  font-size: 20px;
}
.prev-block:hover, .next-block:hover {
  cursor: pointer;
  border-color: #007bff;
  transition: all 0.3s ease;
}
.prev-block:hover i.fas, .next-block:hover i.fas {
  color: #007bff;
}

.site-bar {
  position: absolute;
  bottom: 15px;
  z-index: 999;
}

.eclipse {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #F8F8F8;
}

.img-block {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -999;
  display: flex;
}
.img-block img {
  height: inherit;
  width: 100%;
}

.about-us-content {
  padding-top: 70px;
}
@media screen and (max-width: 45px) {
  .about-us-content {
    padding-top: 45px;
  }
}
.about-us-content .title {
  margin-bottom: 70px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  padding: 22px 60px;
  border: 5px solid #C3CCEA;
  box-sizing: border-box;
}
@media screen and (max-width: 1199px) {
  .about-us-content .title {
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 991px) {
  .about-us-content .title {
    padding: 12px 60px;
  }
}
@media screen and (max-width: 575px) {
  .about-us-content .title {
    padding: 12px 15px;
    font-size: 1.5rem;
  }
}
.about-us-content .text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  line-height: 39px;
}
@media screen and (max-width: 1199px) {
  .about-us-content .text {
    line-height: 36px;
  }
}
@media screen and (max-width: 991px) {
  .about-us-content .text {
    line-height: 28px;
  }
}

#index-about-us-section .btn-custom {
  margin-bottom: 90px;
}
@media screen and (max-width: 1199px) {
  #index-about-us-section .btn-custom {
    margin-bottom: 86px;
  }
}
@media screen and (max-width: 991px) {
  #index-about-us-section .btn-custom {
    margin-bottom: 55px;
  }
}

#index-products-section {
  background: #CBD5F8;
  position: relative;
  padding-top: 50px;
  padding-bottom: 60px;
}
#index-products-section .btn-r {
  margin-bottom: 60px;
}
#index-products-section .title {
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 2rem;
  font-weight: normal;
}
@media screen and (max-width: 991px) {
  #index-products-section .title {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 575px) {
  #index-products-section .title {
    text-align: center;
    font-size: 1.2rem;
  }
}
#index-products-section .subtitle {
  color: #000;
  font-family: "Montserrat";
  margin-left: 50px;
  font-style: normal;
  font-size: 1.3rem;
  font-weight: bold;
}
@media screen and (max-width: 575px) {
  #index-products-section .subtitle {
    margin-left: 0;
    font-size: 0.7rem;
  }
}
#index-products-section .sliders-arrows {
  position: absolute;
  display: flex;
  z-index: 999;
  bottom: 10px;
  right: 0;
  justify-content: flex-end;
}
#index-products-section .slick-prev {
  margin: 0 20px;
}
#index-products-section .slick-prev .prev-block i.fas {
  color: #fff;
}
#index-products-section .slick-prev:hover .prev-block {
  border-color: #007bff;
}
#index-products-section .slick-prev:hover i.fas {
  transition: all 0.5s ease;
  color: #007bff;
}
#index-products-section .slick-next {
  margin: 0 20px;
}
#index-products-section .slick-next .next-block i.fas {
  color: #fff;
}
#index-products-section .slick-next:hover .next-block {
  border-color: #007bff;
}
#index-products-section .slick-next:hover i.fas {
  transition: all 0.5s ease;
  color: #007bff;
}
@media screen and (max-width: 991px) {
  #index-products-section .slider-item {
    margin: 0 10px;
  }
}
#index-products-section .product {
  position: relative;
  height: 410px;
}
@media screen and (max-width: 767px) {
  #index-products-section .product {
    height: 310px;
  }
}
#index-products-section .img-product-block {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
}
#index-products-section .img-product-block img {
  height: inherit;
}
@media screen and (max-width: 991px) {
  #index-products-section .img-product-block {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  #index-products-section .img-product-block img {
    width: 100%;
  }
}
#index-products-section .name-of-type {
  position: absolute;
  z-index: 999;
  right: 0;
  top: 169px;
  color: #000;
  padding: 26px 90px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  background: #D2D9F1;
}
#index-products-section .name-of-type:hover {
  text-decoration: none;
  color: #007bff;
}
@media screen and (max-width: 991px) {
  #index-products-section .name-of-type {
    padding: 26px 38px;
  }
}
@media screen and (max-width: 767px) {
  #index-products-section .name-of-type {
    top: 130px;
    text-align: center;
  }
}
#index-products-section .type-of-slider {
  display: flex;
  margin: 0 auto;
}

#index-services-section {
  background: #CBEAF8;
  position: relative;
  padding-top: 50px;
  padding-bottom: 60px;
}
#index-services-section .title {
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 2rem;
  font-weight: normal;
}
@media screen and (max-width: 991px) {
  #index-services-section .title {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 575px) {
  #index-services-section .title {
    text-align: center;
    font-size: 1.2rem;
  }
}
#index-services-section .subtitle {
  color: #000;
  font-family: "Montserrat";
  margin-left: 50px;
  font-style: normal;
  font-size: 1.3rem;
  font-weight: bold;
}
@media screen and (max-width: 575px) {
  #index-services-section .subtitle {
    margin-left: 0;
    font-size: 0.7rem;
  }
}
#index-services-section .sliders-arrows {
  position: absolute;
  display: flex;
  z-index: 999;
  bottom: 10px;
  right: 0;
  justify-content: flex-end;
}
#index-services-section .slick-prev {
  margin: 0 20px;
}
#index-services-section .slick-prev .prev-block i.fas {
  color: #fff;
}
#index-services-section .slick-prev:hover .prev-block {
  border-color: #007bff;
}
#index-services-section .slick-prev:hover i.fas {
  transition: all 0.5s ease;
  color: #007bff;
}
#index-services-section .slick-next {
  margin: 0 20px;
}
#index-services-section .slick-next .next-block i.fas {
  color: #fff;
}
#index-services-section .slick-next:hover .next-block {
  border-color: #007bff;
}
#index-services-section .slick-next:hover i.fas {
  transition: all 0.5s ease;
  color: #007bff;
}
@media screen and (max-width: 991px) {
  #index-services-section .slider-item {
    margin: 0 10px;
  }
}
#index-services-section .product {
  position: relative;
  height: 410px;
}
@media screen and (max-width: 767px) {
  #index-services-section .product {
    height: 310px;
  }
}
#index-services-section .img-product-block {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
}
#index-services-section .img-product-block img {
  height: inherit;
}
@media screen and (max-width: 991px) {
  #index-services-section .img-product-block {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  #index-services-section .img-product-block img {
    width: 100%;
  }
}
#index-services-section .name-of-type {
  position: absolute;
  z-index: 999;
  right: 0;
  top: 169px;
  color: #000;
  padding: 26px 90px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  background: #C5E3F4;
}
#index-services-section .name-of-type:hover {
  text-decoration: none;
  color: #007bff;
}
@media screen and (max-width: 991px) {
  #index-services-section .name-of-type {
    padding: 26px 38px;
  }
}
@media screen and (max-width: 767px) {
  #index-services-section .name-of-type {
    top: 130px;
    text-align: center;
  }
}
#index-services-section .services-slider {
  display: flex;
  margin: 0 auto;
}

.link-site-bar {
  color: #000;
  font-weight: bold;
  margin-left: 5px;
  line-height: 26px;
  font-family: "Montserrat";
}
.link-site-bar:hover {
  text-decoration: none;
}

.mt-100px {
  margin-top: 100px;
}
@media screen and (max-width: 575px) {
  .mt-100px {
    margin-top: 30px;
  }
}

.h-712px {
  height: 712px;
}
@media screen and (max-width: 1199px) {
  .h-712px {
    height: auto;
  }
}
@media screen and (max-width: 767px) {
  .h-712px {
    height: 550px;
  }
}
@media screen and (max-width: 575px) {
  .h-712px {
    height: 480px;
  }
}
@media screen and (max-width: 375px) {
  .h-712px {
    height: 425px;
  }
}
@media screen and (max-width: 320px) {
  .h-712px {
    height: 385px;
  }
}

#footer-section {
  padding-bottom: 70px;
  background: #F1F1F1;
}
#footer-section .title-text {
  margin-top: 60px;
  margin-bottom: 0;
  text-align: left;
}
#footer-section .title-text h5 {
  padding-left: 1rem;
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  color: #000;
  line-height: normal;
  margin-bottom: 20px;
}
#footer-section .nav-link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: normal;
  color: #000;
}
#footer-section .nav-link:hover {
  color: #007bff;
}
#footer-section .nav-link i {
  font-size: 30px;
}
#footer-section .nav-link i:hover {
  color: #007bff;
}
@media screen and (max-width: 1199px) {
  #footer-section .nav-link i {
    font-size: 22px;
  }
}
#footer-section .conference p {
  font-family: "Montserrat";
  color: #BDBDBD;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
}
#footer-section .conference span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  color: #707AFE;
}
@media screen and (max-width: 1199px) {
  #footer-section .conference span {
    font-size: 13px;
  }
}
#footer-section .conference .tel-link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 33px;
  color: #000000;
}
@media screen and (max-width: 1199px) {
  #footer-section .conference .tel-link {
    font-size: 17px;
  }
}
#footer-section .conference .tel-link:hover {
  transition: all 0.4s ease;
  text-decoration: none;
  color: #707AFE;
}

#news-section {
  margin-top: 110px;
  margin-bottom: 150px;
  padding-bottom: 110px;
  background: url("../img/Component (4).png") no-repeat center top;
  background-position-y: 100px;
}
@media screen and (max-width: 575px) {
  #news-section {
    padding-bottom: 0;
    margin-bottom: 50px;
    background: none;
  }
}
#news-section .title-text {
  margin-bottom: 0;
}
#news-section .title-text-bg {
  margin-top: 60px;
  background: url("../img/Rectangle 4.4.png") repeat-x center;
  background-position-x: 0px;
  background-repeat-x: inherit;
}
#news-section .title-text-bg h1 {
  font-weight: 900;
  line-height: normal;
  padding: 20px 60px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 575px) {
  #news-section .title-text-bg h1 {
    padding: 20px 10px;
  }
}
#news-section #carousel-thumb {
  margin-top: 50px;
}
@media screen and (max-width: 767px) {
  #news-section #carousel-thumb .carousel-inner {
    width: 70%;
  }
}
@media screen and (max-width: 575px) {
  #news-section #carousel-thumb .carousel-inner {
    width: 100%;
  }
}
#news-section .date-time {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: normal;
  text-transform: lowercase;
  color: #95B6DE;
}
@media screen and (max-width: 575px) {
  #news-section .date-time {
    text-align: center;
  }
}
#news-section .carousel-item .slide-h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 1.5rem;
  color: #000;
  line-height: normal;
  text-transform: capitalize;
}
#news-section .carousel-item .slide-h4:hover {
  text-decoration: none;
  color: #007bff;
}
@media screen and (max-width: 575px) {
  #news-section .carousel-item .slide-h4 {
    text-align: center;
    font-size: 1.2rem;
  }
}
#news-section .carousel-item .line {
  margin-bottom: 25px;
}
#news-section .carousel-item p {
  font-family: "Roboto";
  line-height: 30px;
  font-style: normal;
  font-weight: 300;
  height: 180px;
  overflow: auto;
}
#news-section .carousel-item p::-webkit-scrollbar-track {
  background-color: #ecedee;
}
#news-section .carousel-item p::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #c3ccea;
}
#news-section .carousel-item p::-webkit-scrollbar-thumb:hover {
  background-color: #95B6DE;
  cursor: pointer;
}
#news-section .carousel-item p::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 5px;
  height: 0px;
}
#news-section .carousel-item p::-webkit-scrollbar {
  width: 6px;
}
#news-section .carousel-item p::-webkit-scrollbar-button {
  background: #c3ccea;
  background-repeat: no-repeat;
  color: #c3ccea;
  width: 6px;
  height: 0px;
}
@media screen and (max-width: 575px) {
  #news-section .carousel-item p {
    text-align: left;
    line-height: 23px;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 575px) {
  #news-section .carousel-item .slider-text-descr {
    margin-top: 10px;
  }
}
#news-section .img-slider-block {
  height: 330px;
}
@media screen and (max-width: 767px) {
  #news-section .img-slider-block {
    height: 220px;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 575px) {
  #news-section .img-slider-block {
    height: 150px;
  }
}
#news-section .img-slider-block img {
  display: flex;
  height: initial;
  width: 100%;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  #news-section .img-slider-block img {
    width: 90%;
    height: inherit;
  }
}
@media screen and (max-width: 991px) {
  #news-section .img-slider-block img {
    height: auto;
  }
}
@media screen and (max-width: 575px) {
  #news-section .img-slider-block img {
    width: auto;
  }
}
#news-section .next-block, #news-section .prev-block {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  border-radius: 50%;
  background-color: #C3CCEA;
  color: #fff;
}
@media screen and (max-width: 1199px) {
  #news-section .next-block, #news-section .prev-block {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 991px) {
  #news-section .next-block, #news-section .prev-block {
    width: 30px;
    height: 30px;
  }
  #news-section .next-block i, #news-section .prev-block i {
    font-size: 20px;
  }
}
@media screen and (max-width: 575px) {
  #news-section .next-block, #news-section .prev-block {
    width: 23px;
    height: 23px;
  }
  #news-section .next-block i, #news-section .prev-block i {
    font-size: 14px;
  }
}
#news-section .carousel-indicators {
  bottom: -40px;
}
#news-section .carousel-indicators li {
  margin: 0 20px;
  width: 300px;
}
@media screen and (max-width: 767px) {
  #news-section .carousel-indicators li {
    width: 150px;
    font-size: 1rem;
  }
}
@media screen and (max-width: 575px) {
  #news-section .carousel-indicators {
    display: none;
  }
}
#news-section .carousel-indicators .slide-h4-indc {
  color: #000;
  text-indent: 0px;
  font-size: 1.3rem;
}
@media screen and (max-width: 767px) {
  #news-section .carousel-indicators .slide-h4-indc {
    font-size: 1rem;
  }
}
#news-section .carousel-control-prev {
  opacity: 1;
  width: 5%;
  left: -5%;
}
#news-section .carousel-control-prev:hover .next-block {
  opacity: 0.6;
}
@media screen and (max-width: 767px) {
  #news-section .carousel-control-prev {
    width: 10%;
    left: -10%;
  }
}
@media screen and (max-width: 575px) {
  #news-section .carousel-control-prev {
    left: -10%;
  }
}
#news-section .carousel-control-next {
  opacity: 1;
  width: 5%;
  right: -5%;
}
#news-section .carousel-control-next:hover .next-block {
  opacity: 0.6;
}
@media screen and (max-width: 767px) {
  #news-section .carousel-control-next {
    width: 10%;
    right: -10%;
  }
}
@media screen and (max-width: 575px) {
  #news-section .carousel-control-next {
    right: -10%;
  }
}

#inner-article-title-section {
  margin-top: 85px;
  padding-top: 35px;
  position: relative;
}
@media screen and (max-width: 575px) {
  #inner-article-title-section {
    margin-top: 70px;
  }
}
#inner-article-title-section h2 {
  text-align: left;
  font-family: "Montserrat";
  font-style: normal;
  color: #fff;
  font-size: 4rem;
  font-weight: 900;
  line-height: 50px;
  text-transform: uppercase;
  text-shadow: 4px 3px 3px #E4DCD7;
}
@media screen and (max-width: 767px) {
  #inner-article-title-section h2 {
    text-align: center;
    font-size: 3rem;
  }
}
@media screen and (max-width: 575px) {
  #inner-article-title-section h2 {
    font-size: 2rem;
  }
}
#inner-article-title-section .bg-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#inner-article-title-section .bg-image-container img {
  height: inherit;
}
#inner-article-title-section i.fas {
  font-size: 2.5rem;
  color: #fff;
}
#inner-article-title-section .date {
  background: #C3CCEA;
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 20px;
}
#inner-article-title-section .date .date-time {
  padding: 18px 0 18px 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 1.175rem;
  line-height: normal;
  color: #FFFFFF;
}

#article-content-section {
  padding-top: 70px;
  padding-bottom: 80px;
}
#article-content-section .content {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 56px;
  color: rgba(0, 0, 0, 0.7);
}
@media screen and (max-width: 767px) {
  #article-content-section .content {
    line-height: 40px;
  }
}

#title-posts-section, #list-posts-section, #additional-posts-section {
  max-width: 1440px;
  margin-top: 85px;
}
#title-posts-section .title-block, #list-posts-section .title-block, #additional-posts-section .title-block {
  background: url("../img/Component (4).png") no-repeat center top;
  background-position-y: 100px;
}
#title-posts-section .title-text-bg, #list-posts-section .title-text-bg, #additional-posts-section .title-text-bg {
  margin-top: 60px;
  background: url("../img/Rectangle 4.4.png") repeat-x center;
  background-position-x: 0px;
  background-repeat-x: inherit;
}
#title-posts-section .title-text-bg h1, #list-posts-section .title-text-bg h1, #additional-posts-section .title-text-bg h1 {
  font-weight: 900;
  color: #fff;
  line-height: normal;
  padding: 20px 60px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 575px) {
  #title-posts-section .title-text-bg h1, #list-posts-section .title-text-bg h1, #additional-posts-section .title-text-bg h1 {
    padding: 20px 10px;
  }
}
#title-posts-section .title-text-content, #list-posts-section .title-text-content, #additional-posts-section .title-text-content {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  line-height: 44px;
  color: #000000;
}
@media screen and (max-width: 575px) {
  #title-posts-section .title-text-content, #list-posts-section .title-text-content, #additional-posts-section .title-text-content {
    line-height: 35px;
  }
}

#list-posts-section {
  margin-top: 40px;
}
#list-posts-section .title-text-bg {
  margin-top: 0;
}
#list-posts-section .list-group {
  height: 400px;
  overflow: auto;
}
#list-posts-section .list-group::-webkit-scrollbar-track {
  background-color: #ecedee;
}
#list-posts-section .list-group::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #c3ccea;
}
#list-posts-section .list-group::-webkit-scrollbar-thumb:hover {
  background-color: #95B6DE;
  cursor: pointer;
}
#list-posts-section .list-group::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 5px;
  height: 0px;
}
#list-posts-section .list-group::-webkit-scrollbar {
  width: 6px;
}
#list-posts-section .list-group::-webkit-scrollbar-button {
  background: #c3ccea;
  background-repeat: no-repeat;
  color: #c3ccea;
  width: 6px;
  height: 0px;
}
#list-posts-section .list-group-item {
  border: none;
}
#list-posts-section .rectangle {
  height: 30px;
  width: 30px;
  text-align: center;
  border: 1px solid #C3CCEA;
}
#list-posts-section .rectangle .number-of-list {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  color: #C3CCEA;
  text-align: center;
}
#list-posts-section .title-list {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 44px;
  color: #000;
}
#list-posts-section .title-list:hover {
  text-decoration: none;
  color: #007bff;
}
@media screen and (max-width: 767px) {
  #list-posts-section .title-list {
    font-size: 1rem;
    line-height: 34px;
  }
}

#additional-posts-section {
  padding-bottom: 50px;
}
#additional-posts-section .title-block {
  margin-top: 95px;
}
#additional-posts-section .links {
  position: relative;
  height: 195px;
  margin: 0 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 1.2rem;
  padding: 23px;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  #additional-posts-section .links {
    margin: 0;
  }
}
#additional-posts-section .links:nth-child(1) {
  background: #C3CCEA;
}
#additional-posts-section .links:nth-child(2) {
  background: #EAC3C3;
}
#additional-posts-section .links:nth-child(3) {
  background: #C3EADA;
}
@media screen and (max-width: 1199px) {
  #additional-posts-section .links {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 575px) {
  #additional-posts-section .links {
    font-size: 1.5rem;
  }
}
#additional-posts-section .links:hover {
  text-decoration: none;
}
#additional-posts-section .links .image-icon-block {
  height: 55px;
  width: 55px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}
#additional-posts-section .links .image-icon-block img {
  height: inherit;
}

/*# sourceMappingURL=style.css.map */
